@model ProyectoIngenieria.DB.Teacher

@Html.Partial("~/Views/Home/AdminMenu.cshtml")

<div class="container md-3">
    <br />
    <h1 class="text-center">Profesor: @Html.DisplayFor(model => model.name)</h1>
    <br />
    <br />
    <div class="panel-body ">
        <div class="row">

            <div class="col-sm-6 ">

                <dl class="dl-horizontal margen">
                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.name)</p>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.last_name)</p>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.last_name)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.address)</p>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.address)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.state)</p>
                    </dt>

                    <dd>
                        @if (Model.state == true)
                        {
                            <a>Activo</a>
                        }
                        else
                        {
                            <a>No activo</a>
                        }
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.description)</p>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.email)</p>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.phone_number)</p>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.phone_number)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <img src="@(ViewBag.image)" width="65%;" height="65%;" class="img rounded-circle" />
            </div>
        </div>
    </div>
    <br />

    <a href="~/Teachers/Index" class="btn btn-primary btn-md text-uppercase">Regresar</a>

    <br />
    <br />
</div>
<hr />

<style>
    .img {
        margin-top: -1%;
        margin-left: 15%;
    }

    .margen {
        margin-left: 22%;
    }

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 60%;
        margin-top: 8%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }
</style>



