@model ProyectoIngenieria.DB.Teacher

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Teachers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container md-3">
        <br />
        <h1 class="text-center">Editar un Profesor</h1>
        <br />
        <br />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.identification)

                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select style="width:100%" ; id="state" name="state">
                                @if (Model.state == false)
                                {
                                    <option value="true">Activo</option>
                                    <option value="false" selected>No activo</option>
                                }
                                else
                                {
                                    <option value="true" selected>Activo</option>
                                    <option value="false">No activo</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.phone_number, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <a>Foto Actual</a>
                        <div class="col-md-10">

                            <img src="@(ViewBag.image)" width="60%;" height="100%;" />
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            <a>Identificador de foto</a>
                            @Html.EditorFor(model => model.photo_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            Seleccione una foto
                            <br />
                            <input type="file" name="File" id="File" class="form-group" />
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            Nombre de la imagen
                            <br />
                            <input type="text" name="nameFile" id="nameFile" />

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <a href="/Teachers/Index" class="btn btn-primary btn-md text-uppercase">Cancelar</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-md text-uppercase" />
                    </div>
                </div>

            </div>
            <br />
        </div>
    </div>
}
<hr />

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 10%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

