@model ProyectoIngenieria.DB.Album


@{


    ViewBag.Title = "Create";
}

@Html.Partial("~/Views/Home/AdminMenu.cshtml")

@using (Html.BeginForm("Create", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container md-3">
        <br />
        <h1 class="text-center">Ingresar un Álbum</h1>
        <br />
        <br />
        @if (ViewBag.message != null)
        {
            <div class="alert alert-danger text-center alert-dismissible">
                <h4 class="alert-heading"><i class="icon fa fa-times"></i> ¡Error!</h4>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <h6>@ViewBag.message</h6>
            </div>
        }
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.creation_date, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.creation_date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.creation_date, "", new { @class = "text-danger" })
                        </div>
                    </div>






                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <a href="~/Albums/Index" class="btn btn-primary btn-md text-uppercase">Cancelar</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="submit" value="Guardar" class="btn btn-primary btn-md text-uppercase" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
}


<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 8%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
