@model ProyectoIngenieria.DB.Photo

@{
    ViewBag.Title = "Delete";
}

@Html.Partial("~/Views/Home/AdminMenu.cshtml")

<div class="container md-3">
    <br />
    <h1 class="text-center">Eliminar la Fotografía</h1>
    <br />
    <br />
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2 "></div>
            <div class="col-sm-5 ">

                <dl class="dl-horizontal margen">
                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.name)</p>

                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>


            </div>
            <div class="col-sm-5 ">
                <dt>
                    <p class="text-muted">@Html.DisplayNameFor(model => model.image)</p>
                </dt>

                <dd>
                    <img src="@(ViewBag.image)" width="25%;" height="15%;" class="w3-round" />
                </dd>

            </div>


        </div>
        <div class="row" style="margin-top:2%;">
            <div class="col-md-4">
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <a href="/Albums/Index" class="btn btn-primary btn-md text-uppercase">Cancelar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <input type="submit" value="Eliminar" class="btn btn-primary btn-md text-uppercase" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 8%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>
