@model ProyectoIngenieria.DB.Student

@{
    ViewBag.Title = "Delete";
}

@Html.Partial("~/Views/Home/AdminMenu.cshtml")


<div class="container md-3">
    <br />
    <h1 class="text-center">¿Está seguro de eliminar el Estudiante?</h1>

    <div class="panel-body ">
        <div class="row">
            <div class="col-sm-2 "></div>
            <div class="col-sm-5 ">

                <dl class="dl-horizontal margen">
                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.identification)</p>

                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.identification)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.name)</p>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>
            
                <dt>
                    <p class="text-muted">@Html.DisplayNameFor(model => model.last_name)</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.last_name)
                </dd>

                <dt>
                    <p class="text-muted">@Html.DisplayNameFor(model => model.phone_number)</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.phone_number)
                </dd>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <a href="~/Students/Index" class="btn btn-primary btn-md text-uppercase">Cancelar</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" value="Eliminar" class="btn btn-primary btn-md text-uppercase" />
                }

            </div>
        </div>
    </div>
</div>
<br />
<hr />

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 8%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>