
@{
    ViewBag.Title = "Delete";
}

@Html.Partial("~/Views/Home/AdminMenu.cshtml")

<div class="container md-3">
    <br />
    <h2 class="text-center">Matrícula exitosa </h2>
    <br />
    <div class="panel-body">
        <br />
        <br />
        <h6 class="text-center alert alert-danger">Usted ha eliminado de maner exitosa al estudiante "Cédula: @ViewBag.studentId  Nombre: @ViewBag.studentName @ViewBag.studentLastName" del curso "@ViewBag.curseName" </h6>
        <br />
        <br />
        <a href="~/Enrollment/IndexEnrollment" class="btn btn-primary btn-md text-uppercase">Regresar</a>

    </div>
    <br />
    <br />
</div>
<hr />

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 70%;
        margin-top: 10%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }
</style>

