
@{
    ViewBag.Title = "IndexEnrollment";
}

@model PagedList.IPagedList<ProyectoIngenieria.DB.Course>
@using PagedList.Mvc;

@Html.Partial("~/Views/Home/AdminMenu.cshtml")

<div class="container md-3">
    <br />
    <h1 class="text-center">Matrícula de cursos</h1>
    <br />
    <div class="panel-body">
        <br />
        <table class="table table-responsive-sm">
            <tr class="text-center">
                <th>
                    Nombre
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr class="text-center">

            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>

            <td>
                @Html.ActionLink("Matrícular estudiantes", "CreateEnrollment", new { id = item.id })
            </td>
            <td>
                @Html.ActionLink("Ver estudiantes matriculados", "ViewEnrollment", new { id = item.id })
            </td>
        </tr>
            }

        </table>
        <br />
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-6 ">
                @Html.PagedListPager(Model, page => Url.Action("IndexEnrollment", new { page, pageSize = Model.PageSize }))
            </div>
        </div>


    </div>
    <br />
    <br />
</div>
<hr />

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 8%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }
</style>


