@model ProyectoIngenieria.DB.Responsable

@{
    ViewBag.Title = "Details";
}

@Html.Partial("~/Views/Home/AdminMenu.cshtml")

    <div class="container md-3">
        <br />
        <h1 class="text-center">Responsable</h1>
        <br />
        <br />
        <div class="panel-body ">
            <div class="row">
                <div class="col-sm-2 "></div>
                <div class="col-sm-5 ">

                    <dl class="dl-horizontal margen">
                        <dt>
                            <p class="text-muted">@Html.DisplayNameFor(model => model.identification)</p>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.identification)
                        </dd>

                        <dt>
                            <p class="text-muted">@Html.DisplayNameFor(model => model.name)</p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
                            <p class="text-muted">@Html.DisplayNameFor(model => model.description)</p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>

                        <dt>
                            <p class="text-muted">@Html.DisplayNameFor(model => model.email)</p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.email)
                        </dd>
                </div>
                <div class="col-sm-5 ">
                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.address)</p>

                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.address)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.phone_number)</p>

                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.phone_number)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.description)</p>

                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>

                    </dl>
                </div>



            </div>
        </div>

        <div class="panel-body ">
            <h1 class="text-center">Estudiantes a cargo</h1>

            <table class="table ">
                <tr class="text-center">
                    <th>
                        <p class="text-muted"> Identificación</p>
                    </th>
                    <th>
                        <p class="text-muted">  Nombre</p>
                    </th>
                    <th>
                        <p class="text-muted">  Apellido</p>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Student)
                {
                    <tr class="text-center">

                        <td>
                            @Html.DisplayFor(modelItem => item.identification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.last_name)
                        </td>


                    </tr>
                }

            </table>
        </div>



        <br />

        <a href="~/Responsables/Index" class="btn btn-primary btn-md text-uppercase">Regresar</a>

        <br />
        <br />
    </div>
<hr />

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 10%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>

