@model ProyectoIngenieria.DB.Activity

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "Activities", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container md-3">
        <br />
        <h1 class="text-center">Ingresar una Actividad</h1>
        <br />
        <br />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.start_date, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.end_date, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">

                        <div class="col-md-10">
                            Seleccione una foto
                            <br />
                            <input type="file" name="File" id="File" />
                        </div>
                        @if (ViewBag.MessagePhoto != null)
                        {
                            <div class="col-md-10">
                                <div class="alert alert-danger">
                                    @ViewBag.MessagePhoto
                                </div>
                            </div>
                        }
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            Nombre de la imagen
                            <br />
                            <input type="text" name="nameFile" id="nameFile" />

                        </div>
                        @if (ViewBag.MessagePhotoName != null)
                        {
                            <div class="col-md-5">
                                <div class="alert alert-danger">
                                    @ViewBag.MessagePhotoName
                                </div>
                            </div>
                        }
                    </div>


                    <div class="form-group">
                        @if (ViewBag.MessagePhotoName != null || ViewBag.MessagePhoto != null)
                        {
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-5">
                                    <div class="alert alert-danger align-content-center">
                                        @ViewBag.MessageList
                                    </div>
                                </div>
                            </div>
                        }

                        @Html.LabelFor(model => model.Sponsor, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select multiple="multiple" style="width:100%" ; id="sponsors" name="sponsors">
                                @foreach (var item in ViewBag.sponsors)
                                {
                                    <option value="@item.identificacion">@item.name @item.last_name</option>
                                }
                                <option value="0">Ninguno</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select multiple="multiple" style="width:100%" ; id="users" name="users">
                                @foreach (var item in ViewBag.users)
                                {
                                    <option value="@item.identification">@item.name @item.last_name</option>
                                }
                            </select>
                            @if (ViewBag.MessageUsers != null)
                            {
                                <div class="col-md-8">
                                    <div class="alert alert-danger">
                                        @ViewBag.MessageUsers
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voluntary, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select multiple="multiple" style="width:100%" ; id="voluntaries" name="voluntaries">
                                @foreach (var item in ViewBag.voluntaries)
                                {
                                    <option value="@item.identification">@item.name @item.last_name</option>
                                }
                                <option value="0">Ninguno</option>
                            </select>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <a href="~/Activities/Index" class="btn btn-primary btn-md text-uppercase">Cancelar</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="submit" value="Guardar" class="btn btn-primary btn-md text-uppercase" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
}
<hr />

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 10%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}