@model ProyectoIngenieria.DB.Activity

@{
    ViewBag.Title = "Delete";
}

<div class="container md-3">
    <br />
    <h1 class="text-center">¿Está seguro de eliminar la actividad?</h1>


    <div class="panel-body">
        <br />

        <div class="row" style="text-align: center;">
            <div class="col-sm-4"></div>
                <div class="col-sm-2">

                    @Html.DisplayNameFor(model => model.name)
                    <br />
                    •  @Html.DisplayFor(model => model.name)
                </div>


                <div class="col-sm-2">
                    @Html.DisplayNameFor(model => model.descripcion)
                    <br />
                    •  @Html.DisplayFor(model => model.descripcion)
                </div>
            </div>
        <div class="row" style="margin-top: 5%; text-align: center;">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sponsor)

                <br />
                @foreach (var item in ViewBag.sponsors)
                {

                    var sel = (Model.Sponsor.Where(ca => ca.identificacion == item.identificacion).Count() > 0) ? "selected" : "ninguno";

                    <option value="@item.identificacion" @sel>•  @item.name</option>

                }
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)

                <br />
                @foreach (var item in ViewBag.users)
                {
                    var sel = (Model.User.Where(ca => ca.identification == item.identification).Count() > 0) ? "selected" : "Ninguno";

                    <option value="@item.identification" @sel>•  @item.name @item.last_name</option>
                }
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voluntary)

                <br />
                @foreach (var item in ViewBag.voluntaries)
                {
                    var sel = (Model.Voluntary.Where(ca => ca.identification == item.identification).Count() > 0) ? "selected" : "Ninguno";

                    <option value="@item.identification" @sel>•  @item.name @item.last_name</option>
                }
            </div>
        </div>

            <div class="row" style="margin-top:2%;">
                <div class="col-md-4">
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <a href="/Activities/Index" class="btn btn-primary btn-md text-uppercase">Cancelar</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <input type="submit" value="Eliminar" class="btn btn-primary btn-md text-uppercase" />
                        }
                    </div>
                </div>
            </div>
        </div>
</div>
<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 10%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>