@model ProyectoIngenieria.DB.Activity

@Html.Partial("~/Views/Home/AdminMenu.cshtml")

<div class="container md-3">
    <br />
    <h3 class="text-center">Actividad</h3>
    <br />
    <br />
    <div class="panel-body ">
        <div class="row">

            <div class="col-sm-6 ">

                <dl class="dl-horizontal margen">

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.name)</p>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>

                    <dt>
                        <p class="text-muted">@Html.DisplayNameFor(model => model.descripcion)</p>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.descripcion)
                    </dd>


                    <dt>
                        <p class="text-muted">Patrocinadores</p>
                    </dt>
                    <dd>
                        @if (ViewBag.sponsors.Count == 0)
                        {
                            <p>Esta actividad no cuenta con patrocinadores</p>
                        }
                        else
                        {
                            foreach (var item in ViewBag.sponsors)
                            {
                                <p>@item.name</p>
                            }
                        }

                    </dd>

                    <dt>
                        <p class="text-muted">Usuarios</p>
                    </dt>
                    <dd>
                        @if (ViewBag.users.Count == 0)
                        {
                            <p>Esta actividad no cuenta con patrocinadores</p>
                        }
                        else
                        {
                            foreach (var item in ViewBag.users)
                            {
                                <p>@item.name @item.last_name</p>
                            }
                        }
                    </dd>

                    <dt>
                        <p class="text-muted">Voluntarios</p>
                    </dt>
                    <dd>
                        @if (ViewBag.voluntaries.Count == 0)
                        {
                            <p>Esta actividad no cuenta con patrocinadores</p>
                        }
                        else
                        {
                            foreach (var item in ViewBag.voluntaries)
                            {
                                <p>@item.name @item.last_name</p>
                            }
                        }
                    </dd>

                </dl>
            </div>
            <div class="col-sm-6">
                <img src="@(ViewBag.image)" width="65%;" height="65%;" class="img rounded-circle" />
            </div>
        </div>
    </div>
    <br />

    <a href="~/Activities/Index" class="btn btn-primary btn-md text-uppercase">Regresar</a>

    <br />
    <br />
</div>
<hr />

<style>
    .img {
        margin-top: -1%;
        margin-left: 15%;
    }

    .margen {
        margin-left: 22%;
    }

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 60%;
        margin-top: 8%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }
</style>

