@model ProyectoIngenieria.DB.News

@{
    /**/

    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Home/AdminMenu.cshtml")

    <div class="container md-3">
        <br />
        <h1 class="text-center">Ingresar una noticia</h1>
        <br />
        <br />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-3", @type = "date" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea id="description" name="description" class="form-control" rows="6" cols="63" style="resize:none;"></textarea>
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Album.name, "Nombre del albúm de fotografías", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            <input id="albumName" name="albumName" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Album.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <a href="/News/Index" class="btn btn-primary btn-md text-uppercase">Cancelar</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="submit" value="Guardar" class="btn btn-primary btn-md text-uppercase" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
}
<hr />

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 8%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
