@model ProyectoIngenieria.DB.Comments

@Html.Partial("~/Views/Home/AdminMenu.cshtml")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Comments</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="container md-3">
            <br />
            <h1 class="text-center">Actualizar Comentario</h1>
            <br />
            <br />
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select style="width:100%" ; id="state" name="state">
                                    @if (Model.state == false)
                                    {
                                        <option value="true">mostrado</option>
                                        <option value="false" selected>No mostrado</option>
                                    }
                                    else
                                    {
                                        <option value="true" selected>mostrado</option>
                                        <option value="false">No mostrado</option>
                                    }

                                </select>

                            </div>
                            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                        </div>



                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <a href="~/Activities/Index" class="btn btn-primary btn-md text-uppercase">Cancelar</a>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="submit" value="Guardar Cambios" class="btn btn-primary btn-md text-uppercase" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>

}
<hr />

<style>

    #mainNav {
        background-color: rgb(46,49,146);
    }

    .md-3 {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        width: 97%;
        margin-top: 10%;
    }

    .panel {
        border-radius: 0 !important;
        transition: box-shadow 0.5s;
        width: 55%;
    }

    .form-group {
        align-content: center;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
